# jBPM Database Configuration
JBPM_DB_DRIVER=postgres
JBPM_DB_HOST=host.docker.internal
JBPM_DB_PORT=5432
JBPM_DB_NAME=jbpm_db
JBPM_DB_USER=jbpm_user
JBPM_DB_PASSWORD=jbpm_password

# jBPM Server Configuration
KIE_ADMIN_USER=admin
KIE_ADMIN_PWD=admin
JAVA_OPTS=-Xms512m -Xmx2048m -Djava.net.preferIPv4Stack=true
